/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/
body {
    background: hsl(0, 0%, 90%);
}

article {
    display: block;
}

a:active,
a:hover {
    outline: 0;
}

.centered {
    margin: 0 auto;
    padding: 0 0.625rem;
}

@media screen and (min-width: 74em) {
    .centered {
        max-width: 74em;
    }
}

/*--------------------------------------------------------------
Card Layout
--------------------------------------------------------------*/

.card {
    background: white;
    margin-top: 0.625rem;
    min-width: 16.5625rem;
    max-width: 28.125rem;
    border: 0.0625rem solid #D6DFE6;
    border-radius: 0.3125rem;
    position: relative;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
    padding: .875rem 1.25rem .75rem;
    color: #252525;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    font-family: "Helvetica Neue Medium", serif;
    font-size: 1rem;
}

.card-content p {
    font-size: 0.875rem;
    font-family: "Helvetica Neue Regular", serif;
    line-height: 1.5;
}

view {
    color: #169FD7;
    font-size: 0.875rem;
    font-family: "Helvetica Neue Regular", serif;
    margin-bottom: 14px;
    text-align: left;
    position: absolute;
    bottom: 0;
}

figure {
    margin: 0;
    display: block;
    width: 100%;
    height: 0;
    position: relative;
    padding: 56.25% 0 0 0;
    overflow: hidden;
}

img {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0;
    width: 100%;
    height: auto;
}

/*--------------------------------------------------------------
Flexbox
--------------------------------------------------------------*/

@media screen and (min-width: 36em) {
    .cards {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: -1em;
    }

    .card {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(50% - 0.3125em);
        -ms-flex: 0 1 calc(50% - 0.3125em);
        flex: 0 1;
        flex-basis: calc(50% - 0.3125em);
    }
}

@media screen and (min-width: 54em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        -webkit-flex: 0 1 calc(33% - 0.3125em);
        -ms-flex: 0 1 calc(33% - 0.3125em);
        flex: 0 1;
        flex-basis: calc(33% - 0.3125em);
    }

    .cards:after {
        content: '';
        display: block;
        margin-left: 32.55%;
    }
}
